In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('input', header=None, names=['line'])

In [3]:
data['first_digit'] = data.line.str.extract(r'.*?(\d).*')
data['last_digit'] = data.line.str.extract(r'.*(\d).*')
data['combo'] = data.first_digit + data.last_digit

In [4]:
# show a sample
data.iloc[:5, 1:]

  first_digit last_digit combo
0           7          6    76
1           8          8    88
2           3          8    38
3           4          4    44
4           3          3    33

In [5]:
np.sum(data.combo.astype(int))

54644

## Part 2

In [6]:
data2 = pd.read_csv('input', header=None, names=['line'])

In [7]:
data2['first_digit_raw'] = data2.line.str.extract(r'.*?(\d|one|two|three|four|five|six|seven|eight|nine).*')
data2['last_digit_raw'] = data2.line.str.extract(r'.*(\d|one|two|three|four|five|six|seven|eight|nine).*')

In [8]:
digit_map = {
    'one': '1',
    'two': '2',
    'three': '3',
    'four': '4',
    'five': '5',
    'six': '6',
    'seven': '7',
    'eight': '8',
    'nine': '9'
}

In [9]:
first_map = data2.first_digit_raw.map(digit_map)
data2['first_digit'] = np.where(first_map.isna(), data2.first_digit_raw, first_map)

last_map = data2.last_digit_raw.map(digit_map)
data2['last_digit'] = np.where(last_map.isna(), data2.last_digit_raw, last_map)

data2['combo'] = data2.first_digit + data2.last_digit

In [10]:
np.sum(data2.combo.astype(int))

53348